<h2>Hello</h2>
<div class="row">
	<% @products.each do |p| %>
<div class="col-md-3">
<%= p.title %>
</div>	
<% end %>
</div>	

<button class="btn btn-primary" onclick="something()">Click here!</button>
<!-- <button class="btn-primary btn-large">Click here!</button> КНОПКА плоская с тенью :-) -->

